[submodule "themes/Niello"]
	path = themes/Niello
	url = https://github.com/guangmean/Niello.git
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/billop/zola-theme-terminimal
